@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Sokcho";
  src: url('./fonts/SokchoBadaDotum.ttf');
}

@font-face {
  font-family: "SokchoLight";
  src: url('./fonts/SokchoBadaBatang.ttf');
}


html{
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

*{
  box-sizing: border-box;
  /* font-family: "SokchoLight"; */
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  html{
    scroll-snap-type: none;
  }
}